In [5]:
# how to use random
import random
salary = [random.randint(1000,10000) for i in range(40)]

In [8]:
total = salary[0]+salary[1]+salary[3]
total

12604

In [7]:
# for loops - what are for loops
# a way of checking through a list one by one
total = 0
for sal in salary:
    total+=sal
print(total)

209534

# <font color = "darkorange"> Salary Forloop</font>

In [8]:
# get the salaries
import random
# select 150 random salaries
##list(range(0,10,2))
salary = []
type = [ ]
for sal in range(150):
    number =  random.randint(10000,100000)
    salary.append(number)
    # conditionals
    # =IF(B2<20000,"low",IF(B2<70000,"mid","high"))
    if number<20000:
        type.append('low')
    elif number<70000:
        type.append('mid')
    else:
        type.append('high')
print(salary[0:5])
print(type[:5])

[52127, 19678, 73223, 18158, 48337]
['mid', 'low', 'high', 'low', 'mid']

In [15]:
numbers = list(range(1,1001))
#sum(numbers)
print(numbers[:10])
total = 0
for number in numbers:
    #print(number)
    total = total+number
print(total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
500500

In [38]:
# coin toss experiment
n = 3000
toss = []

for tos  in range(n):
    num = random.random()
    # print(num)
    if num<=0.5:
        toss.append('H')
    else:
        toss.append('T')

In [37]:
# from collections import Counter
# import pandas as pd
# import plotly_express as px

# sums = Counter(toss)
# dy = pd.DataFrame(sums.keys(),columns = ['toss'])
# dy['n'] = sums.values()
# dy['perc'] =dy['n']/n
# display(dy)
# px.pie(dy,names = 'toss',values = 'perc')

In [ ]:
# conditionals

# <font color = 'cyan'> Functions </font>

$ y = f(x)$ # general form

$ y = \frac{x^2+x^3}{xy^n}$ # specific function

$y = 10 * x$

$y = \sqrt(x)$

In [39]:
# functions
def ten_x(x): # add the input (x)
    return 10 * x # add the output (y)

n = ten_x(100000)
print(n)

1000000

In [42]:
def sqrt1(x):
    return x ** 0.5
sqrt1(100)
sqrt1(2)

1.4142135623730951

In [ ]:
# more complex functions