In [ ]:
print("Hello, I am using python")

Hello, I am using python

In [ ]:
a=1
b=10
a+b #a and b are integers
c=10.5 #c is a float
print (type(c))

<class 'float'>

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
d="Paul m"
print(type(d))

<class 'str'>

# Lists and dictionaries

In [2]:
# a list is a collection of things
names = ["john","alex","wambui","alicia"]
salary = [23555,2123,35416,19999]
heights = [1.3,45,78,1]
nameage = [
    ['kamau','alex'],
    [12,36]
    ]
mix = [23,"kamau",3.7]
mix

[23, 'kamau', 3.7]

In [ ]:
# have some data/information
# get a datastructure
# maniulate the data
# get outut  save outut   data structure, other other forms of media

In [21]:
# indexing
names = ["john","alex","wambui","alicia"] # indexing starts at zero
# index
names[1]
names[3]
# length
len(names)# function
# slicing
names[1:3]
names[3]

'alicia'

In [17]:
# functions that you can use in lists
names.append('smith') # add to a list
names.pop(1)
names

['john', 'wambui', 'alicia', 'smith']

In [22]:
?names # more information on the objects
names.sort()
names

Object `names # more information on the objects` not found.

['alex', 'alicia', 'john', 'wambui']

# dictionaries

In [24]:
# a dcitionaru is a key  value pair
student = {'john':27,'kamau':45}
print(len(student))
print(student)
print(student.keys())
print(student.values())

2
{'john': 27, 'kamau': 45}
dict_keys(['john', 'kamau'])
dict_values([27, 45])

# <font color = 'darkgreen'>Assignment1</font>

In [25]:
# create a list of ten names of your friend
# print the last 3 friends
# remove one of the friends
# sort the list alphabetically
# reverse the list
# read more on the tuples,dictionaries,sets
# attemt creating a dictionary, a tuple and a set

# tuples
# sets
# arrays