In [ ]:
print("Hello, I am using python")

Hello, I am using python

In [ ]:
a=1
b=10
a+b #a and b are integers
c=10.5 #c is a float
print (type(c))

<class 'float'>

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
d="Paul m"
print(type(d))

<class 'str'>

# Lists and dictionaries

In [2]:
# a list is a collection of things
names = ["john","alex","wambui","alicia"]
salary = [23555,2123,35416,19999]
heights = [1.3,45,78,1]
nameage = [
    ['kamau','alex'],
    [12,36]
    ]
mix = [23,"kamau",3.7]
mix

[23, 'kamau', 3.7]

In [ ]:
# have some data/information
# get a datastructure
# maniulate the data
# get outut  save outut   data structure, other other forms of media

In [21]:
# indexing
names = ["john","alex","wambui","alicia"] # indexing starts at zero
# index
names[1]
names[3]
# length
len(names)# function
# slicing
names[1:3]
names[3]

'alicia'

In [17]:
# functions that you can use in lists
names.append('smith') # add to a list
names.pop(1)
names

['john', 'wambui', 'alicia', 'smith']

In [22]:
?names # more information on the objects
names.sort()
names

Object `names # more information on the objects` not found.

['alex', 'alicia', 'john', 'wambui']

# <font color = 'darkgreen'>Assignment1</font>

In [25]:
# create a list of ten names of your friend
# print the last 3 friends
# remove one of the friends
# sort the list alphabetically
# reverse the list
# read more on the tuples,dictionaries,sets
# attemt creating a dictionary, a tuple and a set

# <font color = 'pink'>dictionaries</font>

In [24]:
# a dcitionaru is a key  value pair
student = {'john':27,'kamau':45}
print(len(student))
print(student)
print(student.keys())
print(student.values())

2
{'john': 27, 'kamau': 45}
dict_keys(['john', 'kamau'])
dict_values([27, 45])

In [13]:
# supermarket dictionary

supermarket = {
    'unga':270,'sugar':300,'sweets':50,'ruler':30
}

buy_items = ['unga','sweets'] # items that are bought

# program that updates
supermarket['unga']# when given the key -  the dictionary returns the value
supermarket['sweets']
purchases = [supermarket['unga'],supermarket['sweets']]
total= supermarket['unga']+supermarket['sweets']
print(purchases)
print(total)

[270, 50]
320

In [14]:
# print a receipt
print('--'*30)
print('Pauls supermarket')
print('--'*30)
print("  Item   Amount  ")
print("  ----   -----  ")
print('  Unga  ',supermarket['unga'])
print('  sweets',supermarket['sweets'])
print('--'*30)
print('  Total',total)
print('--'*30)

------------------------------------------------------------
Pauls supermarket
------------------------------------------------------------
  Item   Amount
  ----   -----
  Unga   270
  sweets 50
------------------------------------------------------------
  Total 320
------------------------------------------------------------

In [ ]:

# brief assignment
# update the dictionary with 10 products
# create a purchase list with 7 products
# print the receipts for that
# try including more than one item - buy two ungas

In [19]:
# tuples
# they a re a special form of lists -  they immutatable
names = ('john','kamau','paul')
names[0] #you can use the indexing ( you cannot append)
# sets
# a set is a collection of object - similar to a list but contains only unique values
names = ['john','alex','alice','aaron','alex']
names_set ={'john','alex','alice','aaron','alex'}
other_names = {'john','alex','paul','catherine'}
print(type(names))
print(type(names_set))

<class 'list'>
<class 'set'>

In [26]:
names_set.intersection(other_names)

{'alex', 'john'}

In [27]:
names_set.union(other_names)

{'aaron', 'alex', 'alice', 'catherine', 'john', 'paul'}

In [ ]:
# assignment -
# create a 10 tuple with two names per person (('john','kamau'),('paul','musyoki'))
# create a set of numbers
# create anotehr set of numbers
# check their intersection, their union and their difference